*{
    box-sizing: border-box;

    border: 0;
    text-align: center;
    text-decoration-color: aliceblue;
}
body{
    background-image: url("https://e0.pxfuel.com/wallpapers/29/450/desktop-wallpaper-black-and-white-marvel-marvel-comic-sticker-bomb.jpg");
    background-color: rgb(32, 32, 32);
}
header{
    background-color: black;
    position: relative;
    width: 100vw;
    height: 5%;
    right:8px;
}
#body{
    margin:0;
    display: inline-block;
    width: 100%;
    border-bottom: 0;
}
#headertitle{
    border-bottom: 0;
    align-items: center;
    width: 50%;
    position: relative;
    left:25%;
    height: 25%;
}
h2,h3{
    left: 10px;
    position: relative;
    color: rgba(255, 255, 255, 0.84);
}
#home{
    margin-top: 0;
    text-shadow: 2px 2px 2px rgb(255, 255, 255),2px 2px 2px rgb(255, 255, 255),2px 2px 2px rgb(255, 255, 255),2px 2px 2px rgb(255, 255, 255);
    color: red;
    font-size: 75px;
}
#div-header{
    border-bottom: 0;
    position: relative;
    display: inline-block;
    width: 100%;

}
#btn-cargar{
    border-radius: 5px;
    position: relative;
    width: 100px;
    height: 35px;
    font-size: 150%;
    background-color: rgb(49, 49, 49);
    color: white;
}
.headeroption{
    position: relative;
    display: inline-block;
    align-content: center;
    align-items: center;
    border-bottom: 0;
    width: 10%;   
}
#container{
    position:relative;
    background-color: rgba(52, 9, 19, 0.928);
    width: 70%;
    display: inline-block;
    border: solid 3px rgba(255, 255, 255, 0.641);
}
/* #divcreadores{
    position: relative;   
    background-color:  rgba(48, 4, 15, 0.72);
    width:23%;
    float: right;
    right: 5%;
    border:solid 3px green;
} */

ul,li{
    list-style: none;
    color: white;
}
img{
    margin-top:50px;
    position: relative;
}
div{
    border-bottom:solid 2px darkred ;
}